---
use_title_as_h1: true
---

{%- macro selected_href(url) -%}
{%- if (page.url | lower) == (url + '/') -%}
class="selected" href="{{ url }}"
{%- else -%}
href="{{ url }}"
{%- endif -%}
{%- endmacro -%}

{%- set script_tag %}
// Configure Algolia search.
let s = document.createElement('script');
s.src = '/_scripts/@docsearch/index.js';
document.head.append(s);

window.addEventListener('load', () => {
  // Add the Algolia search widget.
  docsearch({
    container: '#search',
    appId: 'RZDQYCCABX',
    apiKey: '98b0eabafeb13fe3e1af693d5713d8b4',
    indexName: 'chromium'
  });
});

// Configure Google Analytics.
s = document.createElement('script');
s.src = 'https://www.googletagmanager.com/gtag/js?id=UA-5484340-1'
s.async = true;
document.head.append(s)

window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', 'UA-5484340-1');

// Configure consent bar.
s = document.createElement('script');
s.src = 'https://www.gstatic.com/brandstudio/kato/cookie_choice_component/cookie_consent_bar.v3.js'
s.dataset.autoloadCookieConsentBar = true;
s.dataset.autoloadCookieContentBarIntlCode = '';
document.head.append(s);
{%- endset -%}

<!DOCTYPE html>
{%- if redirect %}
<head>
  <meta charset="utf-8">
  <meta http-equiv="Refresh" content="0; url='{{redirect}}'">
</head>
{%- else %}
<head>
  <meta charset="utf-8">
  {%- if title %}
  <title>{{ title }}</title>
  {%- endif %}
  <link rel="stylesheet" href="/_stylesheets/@docsearch/style.css">
  <link rel="stylesheet" href="/_stylesheets/default.css">
</head>

<header>
  <a href="/">
    <img alt="the Chromium logo" src="/_assets/icon-chromium-96.png" width="48" height="48">
    <h2>The Chromium Projects</h2>
  </a>
  <div id="search"></div>
</header>

<div id="main-wrapper">
  <nav id="sidebar-left">
    <section>
      <a {{ selected_href("/chromium-projects") }}>Home</a>
      <a {{ selected_href("/Home") }}>Chromium</a>
      <a {{ selected_href("/chromium-os") }}>Chromium OS</a>
    </section>
    <section>
      <h4>Quick links</h4>
      <a href="/for-testers/bug-reporting-guidelines">Report bugs</a>
      <a href="/developers/discussion-groups">Discuss</a>
    </section>
    <section>
      <h4>Other sites</h4>
      <a href="https://blog.chromium.org/">Chromium Blog</a>
      <a href="https://developer.chrome.com/extensions">Google Chrome Extensions</a>
    </section>
    <section id="license" role="complementary">
      Except as otherwise
      <a href="https://developers.google.com/site-policies.html#restrictions">noted</a>,
      the content of this page is licensed under a
      <a href="https://creativecommons.org/licenses/by/2.5/">Creative Commons Attribution 2.5 license</a>,
      and examples are licensed under the
      <a href="https://chromium.googlesource.com/chromium/src/+/HEAD/LICENSE">BSD License</a>.
    </section>
    <section id="privacy" role="complementary">
      <a href="https://policies.google.com/privacy">Privacy</a>
    </section>
    <a id="edit-this-page" href="https://edit.chromium.org/edit?repo=chromium/website/main&amp;file=site{{page.url}}index.md">Edit this page</a>
  </nav>
  <main>
  {%- if breadcrumbs %}
    <div class="breadcrumbs">
  {%- for link in breadcrumbs %}
      <a href="{{ link[0] }}">{{ link[1] }}</a> &gt;
  {%- endfor %}
    </div>
  {%- endif %}
  {%- if use_title_as_h1 and title %}
    <h1>{{ title }}</h1>
  {%- endif %}
  {{content | safe}}
  </main>
</div>
<script>{{ script_tag | cspHash | safe }}</script>
{%- endif %}
